<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="LoginBank" parallel="tests" thread-count="3">

	<test name="Test SavingsAdd on Chrome">
		<parameter name="DriverType" value="chrome" />
		<classes>
			<class name="tests.TestBank750" />
		</classes>
	</test>

	<test name="Test SavingsAdd on IE">
		<parameter name="DriverType" value="ie" />
		<classes>
			<class name="tests.TestBank750" />
		</classes>
	</test>

	<test name="Test SavingsAdd on FF">
		<parameter name="DriverType" value="firefox" />
		<classes>
			<class name="tests.TestBank750" />
		</classes>
	</test>

</suite>

